## Oil and Gas production data

As mentioned earlier, the oil and gas production data has been obtained for three different states - Texas, North Dakota and Oklahoma. These states are the top oil and gas producers in the country. Texas produces even more oil than all the offshore US fields put together.

Here, we read data from each of the states' regulatory bodies. The data are stored in the OilGasProduction folder.

In this notebook, the Texas data is processed.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from os import listdir

### Texas - Railroad Commission of Texas (RRC) data
This data was provided as a big data dump by Enigma's help desk. This is all stored in the RRCRawData folder. The data are all stored in '.dsv' files, which can be read as a regular csv file, but with '}' separators.

A number of files from the RRC are available, with data aggregated in different ways (only the relevant files will be put on github).

In [2]:
listdir('./OilGasProduction/RRCRawData')

['.ipynb_checkpoints',
 'ERSCountyTypology2015Edition.xls',
 'GP_COUNTY_DATA_TABLE.dsv',
 'GP_DATE_RANGE_CYCLE_DATA_TABLE.dsv',
 'GP_DISTRICT_DATA_TABLE.dsv',
 'Key_Economic_Indicators.csv',
 'OG_COUNTY_CYCLE_DATA_TABLE.dsv',
 'OG_COUNTY_LEASE_CYCLE_DATA_TABLE.dsv',
 'OG_DISTRICT_CYCLE_DATA_TABLE.dsv',
 'OG_FIELD_CYCLE_DATA_TABLE.dsv',
 'OG_FIELD_DW_DATA_TABLE.dsv',
 'OG_LEASE_CYCLE_DATA_TABLE.dsv',
 'OG_LEASE_CYCLE_DISP_DATA_TABLE.dsv',
 'OG_OPERATOR_CYCLE_DATA_TABLE.dsv',
 'OG_OPERATOR_DW_DATA_TABLE.dsv',
 'OG_REGULATORY_LEASE_DW_DATA_TABLE.dsv',
 'OG_SUMMARY_MASTER_LARGE_DATA_TABLE.dsv',
 'OG_SUMMARY_ONSHORE_LEASE_DATA_TABLE.dsv',
 'OG_WELL_COMPLETION_DATA_TABLE.dsv',
 'OG_WELL_CYCLE_DATA_TABLE.dsv',
 'operators.csv',
 'pdq-dump-user-manual_final_ada_1-3-2018.pdf',
 'pdqoperatorsproductiondisposition.doc',
 'Untitled.ipynb']

In [3]:
# The county data file contains the details of each county. The FIPS code in particular
# will help in combining the production data with the unemployment data table.
county_data = pd.read_csv('./OilGasProduction/RRCRawData/GP_COUNTY_DATA_TABLE.dsv',sep='}')

# The county_cycle data table contains historical production aggregated by county
county_cycle = pd.read_csv('./OilGasProduction/RRCRawData/OG_COUNTY_CYCLE_DATA_TABLE.dsv',sep='}')

In [4]:
county_data.head()

,COUNTY_NO,COUNTY_FIPS_CODE,COUNTY_NAME,DISTRICT_NO,DISTRICT_NAME,ON_SHORE_FLAG,ONSHORE_ASSC_CNTY_FLAG
0,363,363,PALO PINTO,8,7B,Y,N
1,367,367,PARKER,8,7B,Y,N
2,411,411,SAN SABA,8,7B,Y,N
3,417,417,SHACKELFORD,8,7B,Y,N
4,425,425,SOMERVELL,8,7B,Y,N

The county data is modified to add the state FIPS code to the county code, making the code unique for each county

In [5]:
county_data.COUNTY_FIPS_CODE = list(map(lambda x: int(x), '48' + county_data.COUNTY_FIPS_CODE.astype(str)))

In [6]:
county_data.head()

,COUNTY_NO,COUNTY_FIPS_CODE,COUNTY_NAME,DISTRICT_NO,DISTRICT_NAME,ON_SHORE_FLAG,ONSHORE_ASSC_CNTY_FLAG
0,363,48363,PALO PINTO,8,7B,Y,N
1,367,48367,PARKER,8,7B,Y,N
2,411,48411,SAN SABA,8,7B,Y,N
3,417,48417,SHACKELFORD,8,7B,Y,N
4,425,48425,SOMERVELL,8,7B,Y,N

In [7]:
area_codes = pd.read_csv('./UnemploymentData/BLS_AreaCodes.txt',sep='\t',index_col=False)
county_codes = area_codes[area_codes['area_type_code'] == 'F']
county_codes = county_codes.reset_index(drop=True)

In [8]:
county_codes['FIPS code'] = list(map(lambda x: x[2:7],county_codes.area_code))
county_codes.head()

,area_type_code,area_code,area_text,display_level,selectable,sort_sequence,FIPS code
0,F,CN0100100000000,"Autauga County, AL",0,T,31,01001
1,F,CN0100300000000,"Baldwin County, AL",0,T,32,01003
2,F,CN0100500000000,"Barbour County, AL",0,T,33,01005
3,F,CN0100700000000,"Bibb County, AL",0,T,34,01007
4,F,CN0100900000000,"Blount County, AL",0,T,35,01009

In [9]:
county_FIPS_names = dict(zip(county_codes['FIPS code'],county_codes['area_text']))

In [10]:
county_cycle.head()

,COUNTY_NO,DISTRICT_NO,CYCLE_YEAR,CYCLE_MONTH,CYCLE_YEAR_MONTH,CNTY_OIL_PROD_VOL,CNTY_OIL_ALLOW,CNTY_OIL_ENDING_BAL,CNTY_GAS_PROD_VOL,CNTY_GAS_ALLOW,...,CNTY_CSGD_PROD_VOL,CNTY_CSGD_LIMIT,CNTY_CSGD_GAS_LIFT,CNTY_OIL_TOT_DISP,CNTY_GAS_TOT_DISP,CNTY_COND_TOT_DISP,CNTY_CSGD_TOT_DISP,COUNTY_NAME,DISTRICT_NAME,OIL_GAS_CODE
0,1,5,1993,1,199301,7355,NaN,NaN,0,NaN,...,6347,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O
1,1,5,1993,2,199302,6312,NaN,NaN,0,NaN,...,4919,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O
2,1,5,1993,3,199303,6222,NaN,NaN,0,NaN,...,4973,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O
3,1,5,1993,4,199304,6139,NaN,NaN,0,NaN,...,4410,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O
4,1,5,1993,5,199305,5785,NaN,NaN,0,NaN,...,5961,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O

In [11]:
county_cycle['COUNTY_FIPS_CODE'] = ["48%03d" % x for x in county_cycle.COUNTY_NO]
county_cycle.head()

,COUNTY_NO,DISTRICT_NO,CYCLE_YEAR,CYCLE_MONTH,CYCLE_YEAR_MONTH,CNTY_OIL_PROD_VOL,CNTY_OIL_ALLOW,CNTY_OIL_ENDING_BAL,CNTY_GAS_PROD_VOL,CNTY_GAS_ALLOW,...,CNTY_CSGD_LIMIT,CNTY_CSGD_GAS_LIFT,CNTY_OIL_TOT_DISP,CNTY_GAS_TOT_DISP,CNTY_COND_TOT_DISP,CNTY_CSGD_TOT_DISP,COUNTY_NAME,DISTRICT_NAME,OIL_GAS_CODE,COUNTY_FIPS_CODE
0,1,5,1993,1,199301,7355,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001
1,1,5,1993,2,199302,6312,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001
2,1,5,1993,3,199303,6222,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001
3,1,5,1993,4,199304,6139,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001
4,1,5,1993,5,199305,5785,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001

In [12]:
# map the county FIPS codes to the county names using the dictionary county_FIPS_names
county_cycle['Mapped_Name'] = county_cycle['COUNTY_FIPS_CODE'].map(county_FIPS_names)
county_cycle['TIME'] = pd.to_datetime(county_cycle.CYCLE_YEAR_MONTH,format='%Y%m')

county_cycle.head()

,COUNTY_NO,DISTRICT_NO,CYCLE_YEAR,CYCLE_MONTH,CYCLE_YEAR_MONTH,CNTY_OIL_PROD_VOL,CNTY_OIL_ALLOW,CNTY_OIL_ENDING_BAL,CNTY_GAS_PROD_VOL,CNTY_GAS_ALLOW,...,CNTY_OIL_TOT_DISP,CNTY_GAS_TOT_DISP,CNTY_COND_TOT_DISP,CNTY_CSGD_TOT_DISP,COUNTY_NAME,DISTRICT_NAME,OIL_GAS_CODE,COUNTY_FIPS_CODE,Mapped_Name,TIME
0,1,5,1993,1,199301,7355,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001,"Anderson County, TX",1993-01-01
1,1,5,1993,2,199302,6312,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001,"Anderson County, TX",1993-02-01
2,1,5,1993,3,199303,6222,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001,"Anderson County, TX",1993-03-01
3,1,5,1993,4,199304,6139,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001,"Anderson County, TX",1993-04-01
4,1,5,1993,5,199305,5785,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,ANDERSON,05,O,48001,"Anderson County, TX",1993-05-01

In [13]:
county_cycle.COUNTY_NO.nunique() # checking to see the total number of counties is correct: Texas has 253 counties

253

In [14]:
# Isolating just the oil production data
county_cycle_oil = county_cycle[['TIME','Mapped_Name','CNTY_OIL_PROD_VOL']]
county_cycle_oil.tail()

             TIME        Mapped_Name  CNTY_OIL_PROD_VOL
179013 2017-09-01  Zavala County, TX                  0
179014 2017-10-01  Zavala County, TX                  0
179015 2017-10-01  Zavala County, TX                  0
179016 2017-11-01  Zavala County, TX                  0
179017 2017-11-01  Zavala County, TX                  0

As seen in the above output, some counties have multiple oil production data for the same month. We take the maximum reported oil production in that case.

In [15]:
county_cycle_oil = county_cycle_oil.rename(columns={'TIME':'Date','Mapped_Name':'County_Name','CNTY_OIL_PROD_VOL':'Oil_Production'})

In [16]:
county_cycle_oil.Date = pd.to_datetime(county_cycle_oil.Date)

In [17]:
county_cycle_oil.Date = county_cycle_oil.Date.dt.strftime('%m/%Y')

In [18]:
county_cycle_oil = county_cycle_oil.groupby(['County_Name','Date']).agg({'Oil_Production':'max'})
county_cycle_oil.tail()

                           Oil_Production
County_Name       Date
Zavala County, TX 12/2012          390030
                  12/2013          544949
                  12/2014          817685
                  12/2015          871432
                  12/2016          612218

In [19]:
county_cycle_oil.reset_index(inplace=True)

In [20]:
county_cycle_oil = county_cycle_oil.pivot(index='Date',columns='County_Name',values='Oil_Production')

In [21]:
county_cycle_oil.head()

County_Name,"Anderson County, TX","Andrews County, TX","Angelina County, TX","Aransas County, TX","Archer County, TX","Armstrong County, TX","Atascosa County, TX","Austin County, TX","Bandera County, TX","Bastrop County, TX",...,"Willacy County, TX","Williamson County, TX","Wilson County, TX","Winkler County, TX","Wise County, TX","Wood County, TX","Yoakum County, TX","Young County, TX","Zapata County, TX","Zavala County, TX"
Date,,,,,,,,,,,,,,,,,,,,,
01/1993,121640.0,2866720.0,132.0,30998.0,229457.0,NaN,74280.0,48319.0,NaN,19685.0,...,72844.0,825.0,133441.0,414290.0,82683.0,848809.0,2728824.0,212978.0,7072.0,256497.0
01/1994,110684.0,2846724.0,148.0,33803.0,214768.0,NaN,66752.0,45153.0,NaN,18881.0,...,68147.0,1423.0,90654.0,391482.0,86178.0,804362.0,2643341.0,188740.0,5587.0,146641.0
01/1995,111589.0,2688326.0,133.0,28209.0,187377.0,NaN,60447.0,31324.0,0.0,18120.0,...,57598.0,917.0,76739.0,398144.0,78929.0,707875.0,2576306.0,186605.0,5426.0,92445.0
01/1996,104492.0,2672855.0,193.0,18207.0,177123.0,NaN,60092.0,41908.0,295.0,15495.0,...,54366.0,1239.0,62634.0,394219.0,64957.0,631908.0,2546692.0,169412.0,6703.0,68672.0
01/1997,97139.0,2544895.0,23488.0,17315.0,163035.0,NaN,58672.0,28653.0,191.0,13201.0,...,54684.0,1215.0,43190.0,446820.0,55618.0,561135.0,2556121.0,162501.0,5147.0,48230.0

In [22]:
county_cycle_oil = county_cycle_oil.fillna(0)

In [35]:
trial = county_cycle_oil.reset_index()

In [40]:
trial['Date'] = pd.to_datetime(trial['Date'])

In [43]:
trial.drop(trial[trial['Date'] > pd.to_datetime('12/2016')].index)

County_Name,Date,"Anderson County, TX","Andrews County, TX","Angelina County, TX","Aransas County, TX","Archer County, TX","Armstrong County, TX","Atascosa County, TX","Austin County, TX","Bandera County, TX",...,"Willacy County, TX","Williamson County, TX","Wilson County, TX","Winkler County, TX","Wise County, TX","Wood County, TX","Yoakum County, TX","Young County, TX","Zapata County, TX","Zavala County, TX"
0,1993-01-01,121640.0,2866720.0,132.0,30998.0,229457.0,0.0,74280.0,48319.0,0.0,...,72844.0,825.0,133441.0,414290.0,82683.0,848809.0,2728824.0,212978.0,7072.0,256497.0
1,1994-01-01,110684.0,2846724.0,148.0,33803.0,214768.0,0.0,66752.0,45153.0,0.0,...,68147.0,1423.0,90654.0,391482.0,86178.0,804362.0,2643341.0,188740.0,5587.0,146641.0
2,1995-01-01,111589.0,2688326.0,133.0,28209.0,187377.0,0.0,60447.0,31324.0,0.0,...,57598.0,917.0,76739.0,398144.0,78929.0,707875.0,2576306.0,186605.0,5426.0,92445.0
3,1996-01-01,104492.0,2672855.0,193.0,18207.0,177123.0,0.0,60092.0,41908.0,295.0,...,54366.0,1239.0,62634.0,394219.0,64957.0,631908.0,2546692.0,169412.0,6703.0,68672.0
4,1997-01-01,97139.0,2544895.0,23488.0,17315.0,163035.0,0.0,58672.0,28653.0,191.0,...,54684.0,1215.0,43190.0,446820.0,55618.0,561135.0,2556121.0,162501.0,5147.0,48230.0
5,1998-01-01,93245.0,2608477.0,8799.0,17131.0,147178.0,0.0,64108.0,24172.0,69.0,...,59170.0,918.0,57324.0,436871.0,52870.0,533404.0,2532826.0,168784.0,4063.0,33497.0
6,1999-01-01,84549.0,2388341.0,1764.0,11536.0,113330.0,0.0,55168.0,22535.0,0.0,...,53878.0,925.0,50444.0,399637.0,44716.0,486937.0,2413909.0,144890.0,2630.0,29569.0
7,2000-01-01,84004.0,2263432.0,1122.0,9862.0,127074.0,0.0,63252.0,22643.0,37.0,...,44777.0,685.0,38643.0,382455.0,42987.0,600177.0,2222715.0,149397.0,3777.0,46040.0
8,2001-01-01,72330.0,2247935.0,596.0,8488.0,115550.0,0.0,59051.0,19719.0,388.0,...,41346.0,494.0,32991.0,355853.0,36173.0,598115.0,2189659.0,126458.0,4497.0,35257.0
9,2002-01-01,70899.0,2216383.0,1078.0,6900.0,116560.0,0.0,54293.0,49283.0,111.0,...,42933.0,805.0,29084.0,348468.0,37263.0,526822.0,2109512.0,134019.0,3767.0,28279.0
10,2003-01-01,73448.0,2243697.0,1018.0,6709.0,108993.0,0.0,46933.0,17989.0,72.0,...,48554.0,570.0,27923.0,439146.0,36342.0,473026.0,2114688.0,123785.0,3590.0,23071.0
11,2004-01-01,75888.0,1965425.0,727.0,5953.0,99951.0,0.0,65641.0,12210.0,142.0,...,43237.0,659.0,25052.0,313789.0,32652.0,419141.0,2117232.0,117667.0,3227.0,31080.0
12,2005-01-01,67061.0,2018978.0,250.0,9253.0,88218.0,0.0,68189.0,18434.0,113.0,...,42450.0,705.0,23381.0,307784.0,28204.0,359342.0,2177708.0,105993.0,2703.0,55865.0
13,2006-01-01,60566.0,2073781.0,482.0,5860.0,92030.0,0.0,69831.0,21771.0,213.0,...,40425.0,585.0,24739.0,323860.0,36863.0,382325.0,2188685.0,102863.0,3207.0,74145.0
14,2007-01-01,58851.0,2051053.0,218.0,5092.0,91477.0,0.0,58489.0,15272.0,79.0,...,37246.0,634.0,21012.0,349838.0,39463.0,361971.0,2028531.0,99122.0,2997.0,72444.0
15,2008-01-01,57364.0,2027511.0,158.0,5956.0,95292.0,0.0,45334.0,21132.0,103.0,...,36114.0,571.0,23184.0,326118.0,49734.0,313546.0,2017655.0,106381.0,4457.0,67395.0
16,2009-01-01,55748.0,2051419.0,189.0,8029.0,91550.0,0.0,46910.0,27162.0,158.0,...,35879.0,602.0,22138.0,318544.0,39602.0,242417.0,1973733.0,108295.0,1661.0,37980.0
17,2010-01-01,54803.0,2028276.0,32.0,3037.0,86493.0,0.0,45024.0,56244.0,82.0,...,29104.0,549.0,18228.0,280040.0,27961.0,290936.0,1916898.0,101458.0,1570.0,30161.0
18,2011-01-01,51906.0,2356481.0,145.0,8623.0,94378.0,0.0,121895.0,57775.0,170.0,...,28043.0,595.0,40501.0,276741.0,25501.0,270379.0,1849650.0,99898.0,2269.0,43106.0
19,2012-01-01,55992.0,2682946.0,160.0,10419.0,91715.0,0.0,403174.0,49290.0,172.0,...,27941.0,561.0,161563.0,280758.0,23716.0,279166.0,1831968.0,100330.0,1977.0,125931.0
20,2013-01-01,53469.0,2826646.0,0.0,6579.0,98030.0,0.0,950649.0,37982.0,11.0,...,23196.0,434.0,270300.0,341194.0,27139.0,301260.0,1856945.0,106527.0,4165.0,342615.0
21,2014-01-01,53418.0,3031742.0,0.0,9445.0,110377.0,0.0,1384318.0,48299.0,3.0,...,22349.0,1607.0,311581.0,410592.0,24657.0,286738.0,1876048.0,107344.0,11697.0,483305.0
22,2015-01-01,57257.0,2947308.0,0.0,2537.0,110858.0,0.0,2589152.0,45173.0,184.0,...,30213.0,974.0,262866.0,394340.0,24471.0,309870.0,1928352.0,98307.0,10181.0,771310.0
23,2016-01-01,48584.0,3194575.0,0.0,4849.0,91706.0,0.0,1893686.0,36400.0,189.0,...,21649.0,808.0,157995.0,430473.0,19361.0,281522.0,2011373.0,85056.0,7115.0,815947.0
25,1993-02-01,103534.0,2590629.0,121.0,28960.0,210812.0,0.0,67144.0,41543.0,0.0,...,69073.0,874.0,122329.0,374189.0,73649.0,769177.0,2463248.0,193550.0,5863.0,213823.0
26,1994-02-01,97282.0,2561540.0,74.0,30384.0,194800.0,0.0,59323.0,40289.0,0.0,...,60940.0,1067.0,78690.0,369614.0,72361.0,693988.0,2371997.0,176248.0,5950.0,133597.0
27,1995-02-01,103321.0,2436310.0,98.0,23800.0,170603.0,0.0,53649.0,35058.0,0.0,...,50915.0,1118.0,76032.0,355827.0,68325.0,642589.0,2328061.0,172073.0,4942.0,84487.0
28,1996-02-01,96079.0,2499326.0,255.0,17591.0,170937.0,0.0,56769.0,38810.0,245.0,...,50283.0,1218.0,52260.0,385203.0,61076.0,585525.0,2379714.0,164474.0,6273.0,63173.0
29,1997-02-01,89257.0,2394464.0,24826.0,14762.0,148762.0,0.0,54491.0,28503.0,145.0,...,50327.0,899.0,46798.0,425032.0,49913.0,511103.0,2336009.0,146992.0,5285.0,42133.0
30,1998-02-01,87072.0,2341258.0,6639.0,15007.0,132930.0,0.0,56599.0,23457.0,84.0,...,53272.0,981.0,50296.0,402150.0,48212.0,498736.0,2273520.0,148831.0,4332.0,33237.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2011-11-01,52910.0,2553167.0,88.0,7072.0,93408.0,0.0,381443.0,46716.0,156.0,...,27383.0,708.0,162900.0,275996.0,22628.0,274230.0,1781271.0,96486.0,2569.0,102004.0
269,2012-11-01,51113.0,2858216.0,0.0,8899.0,97615.0,0.0,823277.0,40795.0,110.0,...,23784.0,784.0,260763.0,303482.0,21592.0,301340.0,1750753.0,103631.0,4255.0,348170.0
270,2013-11-01,54941.0,2984065.0,0.0,9061.0,106037.0,0.0,1199175.0,53038.0,35.0,...,23293.0,1257.0,366542.0,403341.0,29774.0,280997.0,1833006.0,109388.0,9611.0,534879.0
271,2014-11-01,52258.0,3238252.0,0.0,3412.0,108667.0,0.0,2443419.0,48771.0,180.0,...,29623.0,1144.0,272538.0,417668.0,26394.0,295127.0,1887079.0,101269.0,9548.0,721957.0
272,2015-11-01,48692.0,3044344.0,0.0,7787.0,89312.0,0.0,2050300.0,35779.0,52.0,...,22264.0,767.0,160091.0,420039.0,19652.0,271676.0,1917323.0,85742.0,8084.0,885919.0
273,2016-11-01,45678.0,2939942.0,0.0,3077.0,78413.0,0.0,1600728.0,31736.0,151.0,...,14754.0,644.0,122064.0,587838.0,15573.0,281104.0,1871260.0,76406.0,5486.0,596527.0
275,1993-12-01,104740.0,2872019.0,170.0,33147.0,211433.0,0.0,69329.0,45844.0,0.0,...,69307.0,1172.0,90419.0,401638.0,74487.0,784717.0,2687895.0,199296.0,5895.0,158546.0
276,1994-12-01,107931.0,2725426.0,102.0,28425.0,187695.0,0.0,62417.0,31269.0,0.0,...,59663.0,736.0,76991.0,391874.0,73005.0,730732.0,2595412.0,186910.0,5133.0,95818.0
277,1995-12-01,107408.0,2690754.0,134.0,20556.0,179043.0,0.0,60881.0,41890.0,349.0,...,51390.0,1242.0,66937.0,401751.0,68027.0,647155.0,2563837.0,175757.0,6754.0,71068.0
278,1996-12-01,99209.0,2571775.0,22775.0,17718.0,168034.0,0.0,60394.0,30620.0,201.0,...,55398.0,999.0,48330.0,432155.0,58733.0,562011.0,2563507.0,171755.0,6015.0,56295.0
279,1997-12-01,92914.0,2597932.0,11441.0,17798.0,147019.0,0.0,62318.0,25801.0,103.0,...,58568.0,892.0,56426.0,441924.0,52255.0,516007.0,2553611.0,164529.0,4300.0,38148.0
280,1998-12-01,82374.0,2322213.0,1864.0,11588.0,118042.0,0.0,49951.0,20359.0,0.0,...,53787.0,739.0,44196.0,384476.0,43113.0,510620.0,2427005.0,145988.0,3534.0,27721.0
281,1999-12-01,82115.0,2253877.0,1099.0,10268.0,124251.0,0.0,57618.0,21993.0,83.0,...,46368.0,699.0,39008.0,386146.0,46407.0,602321.0,2304550.0,151826.0,3928.0,45574.0
282,2000-12-01,72499.0,2215899.0,857.0,8985.0,116369.0,0.0,59672.0,20590.0,448.0,...,38009.0,625.0,33519.0,358950.0,33814.0,610084.0,2248967.0,129222.0,4638.0,43285.0
283,2001-12-01,72254.0,2231636.0,685.0,9301.0,113156.0,0.0,54705.0,46469.0,185.0,...,40851.0,784.0,27858.0,353544.0,33036.0,525671.0,2135593.0,122579.0,3474.0,27249.0
284,2002-12-01,73874.0,2259168.0,618.0,5734.0,102984.0,0.0,46495.0,19002.0,201.0,...,50145.0,366.0,24872.0,451687.0,31139.0,487882.0,2123743.0,119222.0,4569.0,22902.0
285,2003-12-01,78836.0,1971990.0,855.0,6489.0,103012.0,0.0,67112.0,12203.0,175.0,...,46330.0,663.0,25103.0,320043.0,34418.0,435678.0,2126173.0,117619.0,3118.0,36566.0
286,2004-12-01,71725.0,1986331.0,310.0,10139.0,89023.0,0.0,71955.0,13568.0,69.0,...,44118.0,552.0,23206.0,290563.0,30128.0,370830.0,2136200.0,105154.0,2855.0,63250.0
287,2005-12-01,60141.0,2005208.0,538.0,5219.0,91156.0,0.0,68423.0,23246.0,40.0,...,40372.0,684.0,24461.0,324291.0,36411.0,369452.0,2191719.0,102995.0,2990.0,80183.0
288,2006-12-01,60292.0,2091578.0,222.0,6825.0,90185.0,0.0,63333.0,15049.0,212.0,...,36151.0,641.0,20308.0,352259.0,38961.0,366901.0,2030560.0,106634.0,2894.0,81418.0
289,2007-12-01,59069.0,2051290.0,132.0,6529.0,90066.0,0.0,46795.0,22502.0,86.0,...,37676.0,765.0,21738.0,329552.0,43373.0,313746.0,2049236.0,104169.0,4604.0,71511.0
290,2008-12-01,55559.0,2095524.0,189.0,7927.0,89098.0,0.0,47048.0,29390.0,155.0,...,35944.0,752.0,21818.0,301276.0,39550.0,272122.0,1992375.0,107032.0,1582.0,43567.0
291,2009-12-01,54754.0,2046325.0,15.0,4256.0,75924.0,0.0,43398.0,49592.0,110.0,...,31064.0,625.0,17678.0,280830.0,27712.0,280435.0,1900525.0,102578.0,1598.0,35858.0
292,2010-12-01,53851.0,2324318.0,301.0,8590.0,90658.0,0.0,117945.0,57153.0,72.0,...,27472.0,872.0,37515.0,272938.0,27499.0,277551.0,1870207.0,98922.0,2067.0,38609.0
293,2011-12-01,53451.0,2643331.0,140.0,10554.0,97714.0,0.0,395575.0,49671.0,126.0,...,26679.0,709.0,158028.0,276782.0,24377.0,290473.0,1836885.0,98198.0,2546.0,112805.0
294,2012-12-01,50962.0,2808595.0,0.0,6900.0,99029.0,0.0,933404.0,38376.0,105.0,...,22710.0,586.0,284075.0,322382.0,21169.0,304231.0,1842501.0,104034.0,4229.0,390030.0
295,2013-12-01,53491.0,3048498.0,0.0,9278.0,105931.0,0.0,1287131.0,51122.0,1.0,...,23794.0,1202.0,345350.0,401193.0,22521.0,299493.0,1868619.0,107912.0,11695.0,544949.0
296,2014-12-01,57612.0,3305756.0,0.0,3277.0,108041.0,0.0,2477818.0,50668.0,150.0,...,31559.0,1116.0,279781.0,408571.0,26309.0,317510.0,1929698.0,100581.0,10104.0,817685.0
297,2015-12-01,44430.0,3170532.0,0.0,5326.0,90593.0,0.0,1988717.0,34142.0,160.0,...,22077.0,901.0,166539.0,433716.0,20369.0,266937.0,1905442.0,84927.0,7544.0,871432.0
298,2016-12-01,46477.0,2882062.0,0.0,3545.0,81196.0,0.0,1594355.0,32321.0,35.0,...,17185.0,569.0,120549.0,571039.0,16431.0,308243.0,1922891.0,78893.0,5880.0,612218.0

In [24]:
county_cycle_oil.to_csv('./OilGasProduction/Texas/TexasOilProdCounty.csv')